| {% extends 'base.pug' %}

| {% block content %}
.flex.items-center.justify-center.py-12.px-4(class="sm:px-6 lg:px-8")
    .max-w-md.w-full
        div
            p.mt-6.text-center.text-md.leading-9.text-gray-900
                | Your password has been set. 
                br
                | You may go ahead and log in now.
            .mt-6
                a.bg-green-200.rounded.p-2.m-2(href="{% url 'login' %}") Login
| {% endblock %}
