| {% extends 'base.pug' %}

| {% block content %}
.flex.items-center.justify-center.py-12.px-4(class="sm:px-6 lg:px-8")
    .max-w-md.w-full
        div
          | {% if validlink %}
          | {% include 'form.pug' %}
          | {% else %}
          | Der Link ist leider ungültig oder bereits abgelaufen. Bitte beantragen einen neuen über die 'Passwort
          | vergessen" Funktion
          div.mt-2
            a.bg-green-200.rounded.p-2.m-2(href="{% url 'login' %}") Login
          | {% endif %}
| {% endblock %}
