| {% extends 'base.pug' %}

| {% block content %}
.flex.items-center.justify-center.py-12.px-4(class="sm:px-6 lg:px-8")
    .max-w-md.w-full
        div
            h2.mt-6.text-center.text-3xl.leading-9.font-extrabold.text-gray-900
                | Start a password reset
        | {% include 'form.pug' %}
| {% endblock %}
