| {% load static %}
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href="{% static 'css/styles.css' %}")
    title OpenSplit
  body
    .flex.bg-gray-200
      .flex.flex-1
        a.p-3(href="{% url 'index' %}")
          span.text-3xl.p-3 openSplit
      .flex.flex-1.justify-end
        | {% if user.is_authenticated %}
        a.block.p-3(href="{% url 'logout' %}") Logout
        .float-right
        | {% else %}
        a.block.p-3(href="{% url 'login' %}") Login
        a.block.p-3(href="{% url 'register' %}") Register
        |{% endif %}

    .max-w-screen-xl.mx-auto
      | {% block content %}{% endblock %}
