| {% extends 'base.pug' %}
| {% block content %}

.text-xl.mt-3 Willkommen

| Wie wärs mit  
a.underline.text-opensplit-link(href="{% url 'login' %}") einloggen?

div.bg-opensplit-alert.m-2.p-2.max-w-l.rounded
    span.text-xl.font-bold.mb-4.block Hinweis
    p.block
        | Wenn du schon einen Account im alten OpenSplit hattest, wurde dein Account mit allen Gruppen migriert.
        | Benutze einfach die "Passwort vergessen" Funktion um ein neues Passwort zu erhalten.



| {% endblock %}
