| {% extends 'base.pug' %}
| {% block content %}

.text-xl.mt-3 Fehler!

| Du bist kein Mitglied dieser Organisation. Lass dir von einem Mitgleid den Einladungslink geben um der Gruppe beizutreten

| {% endblock %}
